.word {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid Gainsboro;
    border-radius: 20px;
    box-shadow: 0 2px 2px DarkGray;
    margin: 5px;
    padding: 2px 10px;
    height: 25px;
    box-sizing: border-box;
    transition: transform 2s ease-in-out;
}